# RabbitMQ
RABBITMQ_URL=amqp://logistrack:yourpassword@rabbitmq:5672/

# Django
DJANGO_SECRET_KEY=secret-key
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com

# SMTP (Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youremail@gmail.com
SMTP_PASSWORD=smtp-secret-key

# Export
EXPORT_DIR=/app/exports

# CouchDB
COUCHDB_URL=http://logistrack:yourpassword@couchdb:5984/

# Health Checker
ALERT_EMAIL=youremail@gmail.com
CHECK_INTERVAL=30s