# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
db.sqlite3

# Node
node_modules/
dist/


#DB
db.sqlite3


#test outputs
*.out
*.html
*_report.txt
$outFile



# Playwright Test output
e2e/playwright-report/
e2e/test-results/
e2e/node_modules/